argon2-cffi==25.1.0
asgiref==3.12.1
Django==6.0.7
djangorestframework==3.18.0
joblib==1.5.3
narwhals==2.24.0
numpy==2.5.2
pandas==3.0.5
Pillow==12.3.0
psycopg==3.3.4
psycopg-binary==3.3.4
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
reportlab==5.0.0
scikit-learn==1.9.0
scipy==1.18.0
six==1.17.0
sqlparse==0.5.5
threadpoolctl==3.6.0
tzdata==2026.3
whitenoise==6.12.0
